
<form action="/lists" method="post">
  <dl>
    <dt>
      <label for="list_name"> Enter the name for your list:</label>
    </dt>
    <dd>
      <input name="list_name" placeholder="List Name" type="text" value="">
    </dd>
  </dl>
<fieldset class="actoins">
  <input type="submit" value="Save">
  </fieldset>
</form>

<% content_for :header_links do %>
  <a href="/lists">Cancel</a>
<%end%>